/.settings/
/AWS_Cloud_Config_Debug/
/Azure_Cloud_Config_Debug/
lpcxpresso55s69_aws_remote_control_Cellular* LinkServer Debug.launch
/freertos/demos/include/aws_clientcredential.h
/freertos/demos/include/aws_clientcredential_keys.h
/msft_Azure_IoT/msft_Azure_IoT_clientcredential.h
/msft_Azure_IoT/msft_Azure_IoT_clientcredential_keys.h
/doc/lpcxpresso55s69_aws_remote_control_*.docx
