/.settings/
/Debug/
lpcxpresso55s69_aws_remote_control_NB-IoT_v1.6.7 LinkServer Debug.launch
ReadMe.txt
/amazon-freertos/demos/aws_clientcredential.h
/amazon-freertos/demos/aws_clientcredential_keys.h
